.footer {
  background: var(--clr-pry-black);
  padding: 144px 0 50px;
}

.footer nav {
  color: var(--clr-pry-white);
}
.footer nav a:hover {
  border-bottom: none;
}

.footerHeader,
.footerContent {
  display: flex;
  justify-content: space-between;
}

.footerHeader {
  align-items: center;
  border-bottom: 1px solid var(--clr-sec-dark-grey);
  padding: 30px 0;
}

.footerContent {
  color: var(--clr-pry-white);
}

.footerAddress p:first-child,
.footerContact p {
  font-weight: var(--weight-med);
}

.footerSocial {
  align-self: flex-end;
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
    padding: 166px 0 50px;
  }
  .footerHeader > div {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--clr-sec-dark-grey);
  }
  .footerHeader,
  .footerContent,
  .footer nav {
    flex-direction: column;
    justify-content: center;
  }

  .footerHeader {
    border-bottom: none;
  }
  .footerContent {
    gap: 40px;
  }
  .footerSocial {
    align-self: center;
  }

  .footer nav {
    margin-top: 3rem;
    gap: 32px;
  }
}

@media (max-width: 375px) {
  .footer {
    padding: 235px 0 50px;
  }
}
