.container {
  position: relative;
}

.hero,
.portfolioCard {
  height: 40rem;
}

.hero {
  background: url("../../public/assets/home/desktop/bg-pattern-hero-home.svg")
    no-repeat right;
  background-color: var(--clr-pry-peach);
  border-radius: 15px;
  position: relative;

  display: flex;
  align-items: center;
  padding: 0 95px;
  overflow: hidden;
}

.hero * {
  flex: 1;
}

.heroLeft {
  flex: 1.5;
  color: var(--clr-pry-white);
}

.heroLeft > p {
  margin: 20px 0 40px;
}

.heroRight {
  position: relative;
}

.heroRight > div {
  position: absolute;
  top: -300px;
  left: 0;
  right: -150px;
  bottom: 0;
}

.portfolioCard {
  margin: 160px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: 30px;
  color: var(--clr-pry-white);
}

.portfolioCard > div:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}

.qualities {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1300px) {
  .hero {
    flex-direction: column;
  }
  .heroRight {
    min-width: 100%;
  }

  .heroRight > div {
    top: -100px;
    right: 0;
    left: 0;
  }
  .heroLeft {
    margin-top: 50px;
    text-align: center;
  }
}

.innerContainer {
  background: url("../../public/assets/shared/desktop/bg-pattern-leaf.svg")
    no-repeat 300px center;
}

.ctaContainer {
  transform: translateY(120px);
}

@media (max-width: 768px) {
  .hero {
    height: 52.6875rem;
    background-position: 250px center;
    padding: 0 24px;
  }
  .heroRight > div {
    top: -200px;
  }

  .portfolioCard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .portfolioCard > div:first-child {
    grid-column: unset;
    grid-row: unset;
  }

  .qualities {
    flex-direction: column;
  }
  .ctaContainer {
    transform: translateY(150px);
  }
  .innerContainer {
    background: none;
  }
}

@media (max-width: 660px) {
  .hero {
    background-position: 200px center;
  }
  .heroRight > div {
    top: -150px;
  }
}

@media (max-width: 545px) {
  .heroRight > div {
    top: -50px;
  }
  .hero {
    background-position: left center;
  }
}

@media (max-width: 350px) {
  .heroRight > div {
    top: 0px;
  }
}
@media (max-width: 375px) {
  .ctaContainer {
    transform: translateY(200px);
  }
}
