.nav {
  display: flex;
  align-items: center;
  gap: 2.625rem;
}

.nav a {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid none;
}

.nav a:hover {
  border-bottom: 1px solid var(--clr-pry-black);
}
